/*las clases con -j son de Joyce y las clases con -s son de Sharon, hay clases que no tiene sorry xDU*/
header{
	background: url(../img/background/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	width: 100%;
	height:505px;
}
.navi-j{
	padding: 10px;
}
.caja-j{
	margin:160px 180px;
}
.btn-j{
	margin: 20px;
	padding: 15px;
}
.btn-black-j{
	background-color: rgba(0, 0, 0, 0.7);
}
.btn-white-j{
	background-color: rgba(255, 255, 255, 0.3);
}
.bot-j{
	padding: 10px;
	margin: 5px;
    background: #fff;
}
.btbl-j{
    padding: 10px;
	margin: 5px;
	background: #0dc0c0;	
}
.cartel-j{
	width: 350px;
	height: 200px;
}
.inst-j{
	background: #fff;
	padding: 20px;
	margin: 30px 50px 20px 70px; 
}
.inst-z{
	background: #fff;
	padding: 20px;
	margin: 30px 30px 20px -60px;
}
.btg-j{
	background-color: #333;
	margin-right: 50px;
}
.city-j{
	background: url(../img/background/city.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height:300px;
}
.tp-j{
	margin-top: 100px;
}
.call-j{
	margin: 72px 20px;
}
.bord-j{
	background:#fff;
	padding: 10px;
	margin: 30px 5px;
}
.compra-j{
	padding: 5px;
	margin: 10px 70px 30px 70px;
}
.ran-j{
	margin: 0px;
	padding: 20px;
}
.rbl-j{
	background: #0dc0c0;
	padding: 20px;
}
.price-j{
	padding: 20px;
}
.pd-j{
	padding: 10px;
}
.fol-j{
	margin: 60px 0px 20px;
}
.ico-j{
	margin: 50px 3px 80px;
}
/*Clases de Sharon*/
.movebottom-s{
	margin-top:20px;
}
 .dosis-s{
	position: relative;
	top: 10px;
	margin: 20px 0;
	text-align: center;
	width: 250px;
}
.right-s{
	position: relative;
	left: 600px;
	bottom: 330px;
	width: 400px;
}
.right-s h2{
	position: relative;
	bottom: 45px;
}
.left-s{
	position:relative;
	left: 50px;
	top: 50px;
}
#adress{
	position: relative;
	top:30px;
}
#adress h3,
#adress i{
	margin-bottom: 30px;
}
button{
	width: 120px;
	height: 60px;
	background: #2ECCFA;
	border: none;
	color: #FFFFFF;
}

/*Seccion 1era de iconos Sharon*/
.move-s{
	position: relative;
	left: 50px;
}
.move2-s{
	position: relative;
	left: 30px;
}
.turquose-s{
	color:#0CC5B6;
	position: relative;
	top: 10px;
	bottom: 5px;
	left:90px;
}

.turquoseimg-s{
	color:#0CC5B6;
	width: 60px;
	margin-bottom: 4px;
	position: relative;	
	left: 80px;
}
#img_s{
	position: relative;
	bottom: -50px;
	margin-bottom: 100px;
}

.move_h3-s{
	position: relative;
	top: 30px;
	left: 60px;
}
#img_s i{
	color:#0CC5B6;
}
.bg-img-s{
	background-image: url("../img/laptop-features.png");
	background-color: #E6E6E6;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 900px 300px;
	width: 100%;
	height: 500px;
}

.h3_img-s h3{
	position: relative;
	left: 500px;
	bottom: -50px;
}
/*Iconos 2da seccion Sharon*/

.icons_sec2-s{
	position: relative;
	top:40px;
	left: 5px;
	color:#0CC5B6;
	margin-right: 10px;
}

.title_icons2-s{
	position: relative;
	right:-50px;
	top:5px;
}
.text_icons2-s{
	margin: 15px 0;
	text-align: left;
	position: relative;
	right:-50px;
	top:5px;
	width: 450px;
}
.img_sec2-s{
	position: relative;
	top:40px;
	margin-right: 10px;
}
.client-s{
	margin: 80px auto;
}
.img_client-s{
	width: 100px;
	height: 100px;
	border-radius: 200px;
	position: relative;
	left: 500px;
}
.recomment-s{
	width: 750px;
	margin:15px;
	line-height: 24px;
	position: relative;
	left: 160px;
}
/*Seccion de formulario Sharon*/
.contact-s{
	background-image: url(../img/background/contactus.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	width: 100%;
	height:615px;
}

.filter-s{
	background-color: rgba(0,0,0,0.5);
	height: 618px;
}	

.list-none-decoration-s li{
	list-style-type: none;
	padding: 20px 10px;

}
.list-none-decoration-s input{
	width: 400px;
	height: 40px;
	background: #1C1C1C;
	opacity: 0.5;
	border:none;
}
textarea{
	width: 400px;
	height: 100px;
	background: #1C1C1C;
	opacity: 0.5;
	border:none;
}

.interlinea-s{
	line-height: 24px;
	position: relative;
	bottom: 30px;
}